qdrant-client
rank_bm25
sentence-transformers
underthesea

fastapi
uvicorn
pydantic
pydantic-settings
openai

celery 
redis

sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
email-validator